
.dog-inner{
  width: 1320px;
  height: 613px;
  margin-top: 50px;
  padding-top: 50px;
  background-image: url(../../images/dog-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50%) calc(50%);
}

.dog-inner__title{
  margin-top: 235px;
  margin-left: 242px;
  font-family: $main-fonts-futura;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.dog-inner__form__input{
  width: 335px;
  height: 50px;
  margin-left: 220px;
  margin-bottom: auto;
  font-family: $main-fonts-futura;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #949494;
  }

.dog-inner__bottom{
  width: 524px;
  margin: 0 auto;
  margin-bottom: auto;
  margin-left: 21px;
  display: flex;
  justify-content: space-between;

}

.dog-inner__link{
  margin-left: 20px;
  padding: 16px 48px;
  background-color: $main-color-black;
  font-family: $main-fonts-futura;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  transition: 0.8s;
  border-radius: 3px;

  &:hover{
    background-color: $main-link-color;
  }

  &:active{
    background-color: $main-link-color;
    opacity: 0.6;
  }
}