.feedback-inner{
  width: 1461px;
  margin: 0 auto;
  margin-bottom: 247px;
  display: flex;
}

.feeDback-inner-iframe{
  width: 462px;
  height: 652px;
  margin-top: 100px;
  margin-right: auto;
}

.feedback-box{
  width: 999px;
  height: 649px;
  margin-top: 100px;
  background-color: $main-color-black;
  background-image: url(../images/feed-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50%) calc(50% );
}

.feedback-box__title{
  margin-top: 62px;
  margin-bottom: 14px;
  margin-left: 166px;
}

.feedback-box__text{
  margin-bottom: 29px;
  margin-left: 166px;
}

.feedback-box__form{
  width: 375px;
  margin-left: 166px;
  display: flex;
  flex-direction: column;
}

.form-box__email{
  padding: 15px 20px;
  margin-bottom: 14px;
  font-family: $main-fonts-futura;
} 

textarea{
  padding-left: 20px;
  font-family: $main-fonts-futura;
  color: $main-color-black;
}

.form-box__btn{
  width: 226px;
  margin-top: 30px;
  paDding-top: 20px;
  padding-bottom: 20px;
  font-family: $main-fonts-futura;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;
  background-color: $main-link-color;
  transition: 0.6s;
  border: none;

  &:hover{
    background-color: $main-title-color;
  }

  &:active{
    background-color: $main-link-color;
    opacity: 0.8;
  }
}